body {
    display: flex;
    justify-content: center;
    background-color: rgb(16, 16, 16);
    color: white;
}

.fixed-page {
    width: 1290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: rgb(30, 30, 30);
}

.center {
    padding: 0 240px;
}


.header-list {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.header-item a {
    padding-right: 100px;
}

.search-box {
    background-color:rgb(16, 16, 16);
    border-radius: 15px 15px 15px 15px;
}

.search-box-view {
    display: flex;
    align-items: center;
    padding: 0 15px 0 3px;
    height: 29px;
}

.search-box input {
    background-color: rgb(16, 16, 16);
}

.search-box input::-ms-clear {
    color: rgb(30, 30, 30);
}

.profile-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-actions a:nth-of-type(2n) {
    padding: 0 8px;
}

.cyrcle {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic {
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

.cyrcle-inner {
    width:100%;
    height:100%;
    object-fit: cover;
}

.page-block {
    background-color: rgb(30, 30, 30);
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    border: 1px solid rgb(0, 221, 255);
}

.no-border {
    border: none;
    border-radius: 0;
}

.post-category {
    background-color: inherit;
    border: none;
    appearance: none;
    outline: none
}

.post-category option {
    background-color: inherit;
}

.text-post-data textarea {
    resize: none;
    width: 100%;
    background-color: inherit;
    border-top: 1px solid rgba(0, 221, 255, 0.834);
    border-bottom: 1px solid rgba(0, 221, 255, 0.834);
    padding: 10px 0;
    height: auto;
    color: white;
    overflow:auto;
    height: auto;
}

.publish-btn {
    color:rgb(0, 255, 0);
    padding: 7px;
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
}

.publish-btn:hover {
    opacity: 0.816;
}

input[type='file'] {
    display: none;
}

.media-item {
    position: absolute;
}

.display-none {
    display: none;
}

.upload-file {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 7px;
    border: 1px solid rgb(0, 221, 255);
    border-radius: 15px;
    justify-content: space-around;
    color: rgb(0, 221, 255);
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
}

.upload-file p {
    font-size: 30px;
    padding: 0 0 10px;
}
