{% extends "posts/base.html" %}

{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href=" {% static 'rpg/css/notifications.css' %} ">
{% endblock css %}


{% block content %}
    <div class="center">
        <div class="page-block">
            <ul class="notifications-list">
                {% for notification in notifications %}
                    <li class="notification-item">
                        <div class="notification">
                            <div class="notification-head">
                                <a class="notification-owner" href="{% url 'posts:profile' notification.owner.username %}">
                                    <div class="cyrcle">
                                        <img class="cyrcle-inner" 
                                        src="{% if not notification.owner.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{notification.owner.image.url}}{% endif %}" 
                                        alt="">
                                    </div>
                                    <div>
                                        <span class="notification-owner-name">{{notification.owner.username}}</span>
                                        <p class="notification-time">
                                            {{notification.date | naturaltime }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="notification-to-post">
                                <a href="{% url 'posts:post' notification.to_post.id %}">
                                    <span class="post-time">Отклик к посту от {{notification.to_post.created_at}}: </span>
                                    <span class="post-text">
                                        {{notification.to_post.text}}
                                    </span>
                                </a>
                            </div>
                            <div class="notification-content">
                                {{notification.text}}
                            </div>
                            <div class="notification-buttons">
                                <button class="approve-notification" notification_id="{{notification.id}}" change-url="{% url 'notifications:change' %}">{% csrf_token %}Принять</button>
                                <button class="eject-notificaton" notification_id="{{notification.id}}" change-url="{% url 'notifications:change' %}">{% csrf_token %}Отклонить</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li class="empty-notifications">
                    <h2>У вас пока нет новых откликов</h2>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'rpg/js/delete-notification.js' %}"></script>
{% endblock js %}