{% extends "posts/base.html" %}

{% load static %}
{% load categories_tag %}
{% load query_transform %}
{% load clear_role %}

{% block css %}
    <link rel="stylesheet" href="{% static 'rpg/css/feed.css' %}">
    <link rel="stylesheet" href="{% static 'rpg/css/posts.css' %}">
{% endblock css %}

{% block content %}
        <div class="center">
            <div class="page-block new-border">
                <div class="feed-head">
                    <h1 class="feed-title">Новости</h1>
                    <div class="feed-filters">
                        <div class="role-filter">
                            <button onclick="ShowRoles()" class="roles-btn feed-filters-child">Роль</button>
                            <div id="all-roles" class="all-roles">
                                <a href="{% url 'posts:feed' %}?{% clear_role %}">Любая</a>
                                {%categories_tag as categories%}
                                {% for category in categories %}
                                    <a href="?{% query_transform role=category.slug %}">{{category.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="feed-filters-child" href="?{% query_transform filter='popular' %}">Популярные</a>
                        <a class="feed-filters-child" href="?{% query_transform filter='new' %}">Новые</a>
                    </div>
                </div>
                <ul class="post-list">
                {% for post in posts %}
                    {% include "posts/includes/post.html" %}
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'rpg/js/like.js' %}"></script>
    <script src="{% static 'rpg/js/pretty-post.js' %}"></script>
    <script src="{% static 'rpg/js/role-list.js' %}"></script>
{% endblock js %}