{% extends "posts/base.html" %}

{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'rpg/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'rpg/css/post-page.css' %}">
{% endblock css %}

{% block content %}
    <div class="center">
        <div class="page-block no-border">
            <div class="full-bkg">
                <ul class="post-list">
                    {% include "posts/includes/post.html" %}
                </ul>
                <div class="post-comments">
                    <ul class="comments-list">
                        {% for notification in notifications %}
                            <li class="comment-item">
                                <a href="{% url 'posts:profile' notification.owner.username %}">
                                    <div class="cyrcle comment-owner-pic">
                                        <img class="cyrcle-inner" src="{% if not notification.owner.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{notification.owner.image.url}}{% endif %}" alt="comments-owner-2">
                                    </div>
                                    <div class="comment-owner-name">
                                        <p class="post-owner">{{ notification.owner.username }}</p>
                                        <p class="comment-word">Комментарий</p>
                                    </div>
                                    <div class="comment-publish-time">
                                        {{ notification.date | naturaltime }}
                                    </div>
                                </a>
                                <div class="comment-content">
                                    {{notification.text}} 
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'rpg/js/like.js' %}"></script>
    <script src="{% static 'rpg/js/pretty-post.js' %}"></script>
{% endblock js %}