{% extends "posts/base.html" %}

{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'rpg/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'rpg/css/post-page.css' %}">
{% endblock css %}

{% block content %}
    <div class="center">
        <div class="page-block no-border">
            <div class="full-bkg">
                <ul class="post-list">
                    {% include "posts/includes/post.html" %}
                </ul>
                <div class="post-comments">
                    <ul class="comments-list">
                        <li class="comment-item">
                            <a href="{% url 'posts:profile' user.username %}">
                                <div class="cyrcle comment-owner-pic">
                                    <img class="cyrcle-inner" src="{% if not user.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{user.image.url}}{% endif %}" alt="comments-owner-user">
                                </div>
                                <div class="comment-owner-name">
                                    <p class="post-owner">{{user.username}}</p>
                                    <p class="comment-word">Комментарий</p>
                                </div>
                                <div class="comment-publish-time">
                                    только что
                                </div>
                            </a>
                            <div class="comment-content">
                                <form action="{% url 'posts:post' post.id %}" method="post">
                                    {% csrf_token %}
                                    {% if message %}
                                    <div style='color: yellow;'>{{ message }}</div>
                                    {% endif %}
                                    <label for="{{form.comment.id_for_label}}">
                                        {{form.comment}}
                                    </label>
                                    <button class="new-comment-button" type="submit">Отправить</button>
                                </form>
                            </div>
                        </li>
                        {% for notification in notifications %}
                            <li class="comment-item">
                                <a href="{% url 'posts:profile' notification.owner.username %}">
                                    <div class="cyrcle comment-owner-pic">
                                        <img class="cyrcle-inner" src="{% if not notification.owner.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{notification.owner.image.url}}{% endif %}" alt="comments-owner-{{notification.id}}">
                                    </div>
                                    <div class="comment-owner-name">
                                        <p class="post-owner">{{ notification.owner.username }}</p>
                                        <p class="comment-word">Комментарий</p>
                                    </div>
                                    <div class="comment-publish-time">
                                        {{ notification.date | naturaltime }}
                                    </div>
                                </a>
                                <div class="comment-content">
                                    {{notification.text}} 
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'rpg/js/like.js' %}"></script>
    <script src="{% static 'rpg/js/pretty-post.js' %}"></script>
    <script src="{% static 'rpg/js/textarea-resize.js' %}"></script>
{% endblock js %}