{% extends "posts/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'rpg/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'rpg/css/posts.css' %}">
{% endblock css %}


{% block content %}
    <div class="page-content center">
        <div class="profile-head page-block">
            <div class="profile-photo cyrcle">
                <img class="cyrcle-inner" src="{% if not owner.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{owner.image.url}}{% endif %}" alt="profile-photo">
            </div>
            <div class="profile-info">
                <!-- max lenght 16 -->
                <h2 class="profile-username">{{owner.username}}</h2>
                <span class="profile-status">
                   {% if owner.status is None %}{% else %}{{owner.status}}{% endif %} 
                </span>
            </div>
            {% if user == owner %}
                <div class="profile-settings">
                    <a class="profile-settings-button" href="./edit-profile.html">Редактировать профиль</a>
                </div>
            {% endif %}
        </div>
        <div class="profile-body page-block">
            <h2>Ваши посты</h2>
            <ul class="post-list">
                {% for post in posts %}
                    <li class="post-item">
                        <div class="post">
                            <div class="post-head">
                                <div class="post-owner-pic cyrcle">
                                    <img class="cyrcle-inner" src="{% if not post.owner.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{post.owner.image.url}}{% endif %}" alt="post-profile-photo-{{post.id}}">
                                </div>
                                <div class="post-head-links">
                                    <a class="post-owner" href="{% url 'posts:profile' owner.username %}">{{post.owner.username}}</a>
                                    <a class="post-category" href="#">{{post.category.name}}</a>
                                </div>
                                {% comment %} ебануть кастомный тег {% endcomment %}
                                <span class="post-time">
                                    {{post.created_at}}
                                </span>
                            </div>
                            <div class="media-post-data">
                                {% for postimage in post.postimage_set.all %}
                                    <div class="media-item">
                                        <a href="{{ postimage.image.url }}">
                                            <img src="{{ postimage.image.url }}" alt="post-photo-{{postimage.id}}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-post-data">
                                {{ post.text }}
                            </div>
                            <div class="other-post-data">
                                <button type="button" class="{% if user in post.liked_users %}liked{% endif %} post-like">
                                    {{ post.liked_users.count }}
                                    <svg width="22px" height="22px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="icomoon-ignore">
                                        </g>
                                        <path d="M21.886 5.115c3.521 0 6.376 2.855 6.376 6.376 0 1.809-0.754 3.439-1.964 4.6l-10.297 10.349-10.484-10.536c-1.1-1.146-1.778-2.699-1.778-4.413 0-3.522 2.855-6.376 6.376-6.376 2.652 0 4.925 1.62 5.886 3.924 0.961-2.304 3.234-3.924 5.886-3.924zM21.886 4.049c-2.345 0-4.499 1.089-5.886 2.884-1.386-1.795-3.54-2.884-5.886-2.884-4.104 0-7.442 3.339-7.442 7.442 0 1.928 0.737 3.758 2.075 5.152l11.253 11.309 11.053-11.108c1.46-1.402 2.275-3.308 2.275-5.352 0-4.104-3.339-7.442-7.442-7.442v0z" fill="#00DDE1">
                                        
                                        </path>
                                        </svg>
                                </button>
                                {% comment %} <a class="post-comments-button" href="{% url 'posts:post' post.id %}"> {% endcomment %}
                                <a class="post-comments-button" href="./post.html">
                                    {{ post.notification_set.count }}
                                    <svg width="22px" height="22px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="icomoon-ignore">
                                        </g>
                                        <path d="M26.664 4.82h-21.328c-1.178 0-2.132 0.955-2.132 2.133v13.868c0 1.178 0.955 2.133 2.132 2.133h14.968l4.226 4.226v-4.226h2.134c1.178 0 2.133-0.955 2.133-2.133v-13.868c-0-1.178-0.955-2.133-2.133-2.133zM27.73 20.821c0 0.588-0.479 1.066-1.066 1.066h-3.2v2.718l-2.718-2.718h-15.41c-0.588 0-1.066-0.478-1.066-1.066v-13.868c0-0.588 0.479-1.066 1.066-1.066h21.328c0.588 0 1.066 0.478 1.066 1.066v13.868z" fill="#00DDE1">
                                        
                                        </path>
                                        <path d="M16 12.824c-0.589 0-1.066 0.478-1.066 1.066s0.477 1.066 1.066 1.066 1.066-0.477 1.066-1.066c0-0.588-0.477-1.066-1.066-1.066z" fill="#00DDE1">
                                        
                                        </path>
                                        <path d="M20.265 12.824c-0.589 0-1.066 0.478-1.066 1.066s0.477 1.066 1.066 1.066 1.066-0.477 1.066-1.066c0-0.588-0.477-1.066-1.066-1.066z" fill="#00DDE1">
                                        
                                        </path>
                                        <path d="M11.835 12.824c-0.589 0-1.066 0.478-1.066 1.066s0.477 1.066 1.066 1.066 1.066-0.477 1.066-1.066c0-0.588-0.477-1.066-1.066-1.066z" fill="#00DDE1">
                                        
                                        </path>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'rpg/js/like.js' %}"></script>
    <script src="{% static 'rpg/js/pretty-post.js' %}"></script>
{% endblock js %}
