{% extends "posts/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'rpg/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'rpg/css/posts.css' %}">
{% endblock css %}


{% block content %}
    <div class="page-content center">
        <div class="profile-head page-block">
            <div class="profile-photo cyrcle">
                <img class="cyrcle-inner" src="{% if not owner.image %}{% static 'rpg/img/default-avatar.jpeg' %}{% else %}{{owner.image.url}}{% endif %}" alt="profile-photo">
            </div>
            <div class="profile-info">
                <!-- max lenght 16 -->
                <h2 class="profile-username">{{owner.username}}</h2>
                <span class="profile-status">
                   {% if owner.status is None %}{% else %}{{owner.status}}{% endif %} 
                </span>
            </div>
            {% if user == owner %}
                <div class="profile-settings">
                    <a class="profile-settings-button" href="{% url 'users:edit-profile' %}">Редактировать профиль</a>
                </div>
            {% endif %}
        </div>
        <div class="profile-body page-block">
            {% if user == owner %}
                <h2>Ваши посты</h2>
            {% else %}
                <h2>Посты {{owner.username}}</h2>
            {% endif %}
            <ul class="post-list">
                {% for post in posts %}
                    {% include "posts/includes/post.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'rpg/js/like.js' %}"></script>
    <script src="{% static 'rpg/js/pretty-post.js' %}"></script>
{% endblock js %}
